html {
  background: url("/images/game-bg.jpg") no-repeat center fixed;
  background-size: cover;
}

/* Hides the main html elements and displays small browser picture */
@media (max-width: 600px) {
  button {
    display: none;
  }
  #stats {
    display: none;
  }
  #gameTitle {
    display: none;
  }
  html {
    background: url("/images/smallbrowser.gif") no-repeat center fixed;
  }
}

.title {
  font-size: 84px;
  text-align: center;
  font-family: "Monoton", cursive;
  color: white;
}

#stats {
  border-style: solid;
  position: fixed;
  top: 0;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#introDuck {
  display: flex;
  justify-content: center;
}
